# ----- DATABASE
DB_DRIVER="postgres"
DB_HOST="localhost"
DB_PORT=5432
DB_USER="root"
DB_PASSWORD="root"
DB_NAME="projetin"

# ----- API
API_PORT=8080
API_HOST="0.0.0.0"

# ----- AI INTEGRATION
AI_PROVIDER="gemini"
AI_ENDPOINT="https://generativelanguage.googleapis.com"
AI_MODEL="gemini-2.5-flash"
AI_API_KEY=""

# AI_PROVIDER="anthropic"
# AI_ENDPOINT="https://api.anthropic.com"
# AI_MODEL="claude-haiku-4-5-20251001"
# AI_API_KEY=""

# AI_PROVIDER="openai"
# AI_ENDPOINT="https://api.openai.com"
# AI_MODEL="gpt-4o-mini"
# AI_API_KEY=""

# AI_PROVIDER="ollama"
# AI_ENDPOINT="http://localhost:11434"
# AI_MODEL="mistral:7b-instruct"
# AI_API_KEY=""
